body
{
    background-color: #EDDDD0 ;
}

.mainh1 {
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.schoolhead{
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.coursehead{
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about{

    text-align: center;
}


nav ul{
    background-color: #A6CAD4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot{
    background-color: #A6CAD4;
    display: flex;
    justify-content: center;
}

nav div{
    padding: 5px;
}

.nav-list-style {
    list-style-type: none;
}

.about{
    display: flex;
    justify-content: left;
}


section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 0.5fr);
}

.imgbox{
    grid-column: 2/3;
}

.data{
    display: grid;
    grid-template-columns:1fr 2fr ;
    grid-template-rows: 1fr;
    border-bottom: gray solid;
}

.python{
    display: grid;
    grid-template-columns:1fr 2fr ;
    grid-template-rows: 1fr;
    
}

.web{
    border-bottom: gray solid;
}


.year1 {
    grid-row: 2/3;
}



@media (min-width:600px){
    .web{
        border-bottom: black solid;
    }

    .data{
        border-bottom: black solid;
    }

    nav ul {
    display: flex;
    flex-direction: row;
    }
    
}

    
