body
{
    background-color: #EDDDD0 ;
}

.mainh1 {
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.schoolhead{
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.coursehead{
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.about{

    text-align: center;
}


nav ul{
    background-color: #A6CAD4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot{
    background-color: #A6CAD4;
    display: flex;
    justify-content: center;
}

nav div{
    padding: 5px;
}

.nav-list-style {
    list-style-type: none;
}

.about{
    display: flex;
    justify-content: left;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
}

.imgbox{
    grid-column: 2/3;
}

@media (min-width:600px){
    {
        
    }
}

