body
{
    background-color: #EDDDD0 ;
}

.mainh1 {
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.schoolhead{
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.coursehead{
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

nav{
    background-color: #A6CAD4;
}

.about{

    text-align: center;
}



nav ul{
    background-color: #A6CAD4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot{
    background-color: #A6CAD4;
    display: flex;
    justify-content: center;
}

nav div{
    padding: 5px;
}

.nav-list-style {
    list-style-type: none;
}

.about{
    display: flex;
    justify-content: left;
}


.imgbox{
    grid-column: 2/3;
}

.data{
    border-bottom: gray solid;
    margin-bottom: 10px;
}

.web{
    border-bottom: gray solid;
    margin-bottom: 10px;
}


.year1 {
    margin-top: 20px;
}

@media (min-width:600px){

    .year1{
        grid-row: 2/3;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .data{
        display: grid;
        grid-template-columns:1fr 2fr ;
        grid-template-rows: 1fr;
       ;
    }


    .python{
        display: grid;
        grid-template-columns:1fr 2fr ;
        grid-template-rows: 1fr;
        
    }
    
    .data{
        display: grid;
    grid-template-columns:1fr 2fr ;
    grid-template-rows: 1fr;
    }

    
    .year1 {
        grid-row: 2/3;
        /* margin-bottom: 20px; */
    }


    .web{
        border-bottom: black solid;
        margin-bottom: 10px;
    }

    .data{
        border-bottom: black solid;
        margin-bottom: 10px;
    }

    nav ul {
    display: flex;
    flex-direction: row;
    }
    
}